/* Flexible Slide-to-top Accordion Style*/
.wrapper{
	width:90%;
	max-width:800px;
	margin:30px auto;
}
.st-accordion{
    width:100%;
    min-width:270px;
    margin: 0 auto 60px;
}
.st-accordion > ul {
	list-style: none;
	margin-left: 0;

}
.st-accordion .st-content ul{
  margin-bottom: 20px;
}
.st-accordion .st-content [class*="block-grid-"]{
  margin-left: 0;
}
.st-accordion ul li.acc{
    height: 90px;
    border: 8px solid $color_darkGray;
    overflow: hidden;
    margin-bottom: 8px; 
    padding-left: 60px;
    padding-right: 0px;
    position: relative;
    text-align: left;
    @media #{$small-only}{
      padding-left: 5px;
    }
		&:before{
      content: '';
      font-family: "kingsway-2016";
      color: none;
      font-size: 0;
      padding-right: 0;
      position: relative;
      top: 0;
      margin-right: 0;
    }
    &:hover:not(.st-open):after{
      content: '';
      position: absolute;
      background: $color_green;
      width: 90%;
      height:70%;
      max-height: 60px;
      top:15%;
      left:-28px;
      z-index: -1;
    }
    &.st-open:active:after{
      background: none;
    }
}
.st-accordion ul li:first-child{
}
.st-accordion ul li > a{
  @include sansSerif(900, normal, rem-calc(24), $color_darkGray);
  background: transparent;
  margin-top: 0px;
  //text-transform: inherit;
  letter-spacing: 2px;
  display: block;
  padding-left: 15px;
  line-height: 90px;
	outline:none;
  top: -10px;
  position: relative;
  z-index: 1;
  -webkit-transition:  color 0.2s ease-in-out;
	-moz-transition:  color 0.2s ease-in-out;
	-o-transition:  color 0.2s ease-in-out;
	-ms-transition:  color 0.2s ease-in-out;
	transition:  color 0.2s ease-in-out;
	@media #{$small-only}{
   font-size: .875rem;
   padding-right: 30px;
   letter-spacing: 1px;
   padding-left: 8px;
	}
	&:not(.button){
    &:after {
      content: "";
      border-bottom: none;

    }
  }
}
.st-accordion ul li > a span{
	width: 40px;
	height: 40px;
	position: absolute;
	top: 10%;
	margin-top: 0px;
  right: 10px;
//	opacity:0;
	-webkit-transition:  all 0.2s ease-in-out;
	-moz-transition:  all 0.2s ease-in-out;
	-o-transition:  all 0.2s ease-in-out;
	-ms-transition:  all 0.2s ease-in-out;
	transition:  all 0.2s ease-in-out;
	@media #{$small-only}{
  	right: 6px;
	}
	
	&.icon-arrow-right{
  	color: $color_darkGray;
  	font-size: 40px;
  	@media #{$small-only}{
  	}
	}
}
.st-accordion ul li:not(.st-open) > a:hover{
    color: $color_darkGray;
    position: relative;
    
}
.st-accordion ul li > a:hover span{
	opacity:1;
	right: 10px;
}
.st-accordion ul li.st-open > a{
    color: $color_darkGray;

  &:after{
    content:'';
    border-bottom: 6px solid $color_green;
    position: absolute;
    bottom:0;
    left:0;
    width: 15%;
    margin-left: 16px;
  }
}
.st-accordion ul li.st-open > a span{
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
  transform:rotate(90deg);
	right:-10px;
  top: 28%;
	opacity:1;
	@media #{$small-only}{
  	right: -6px;
	}
}
.st-content{
    padding: 15px 60px 30px 15px;
    @media #{$small-only}{
      padding: 15px 30px 30px 15px;
    }
    h5{
      font-size: 2rem;
    }

}
.st-content p{
  @include sansSerif(400, normal, rem-calc(20), $color_darkGray);
  a{
    white-space: nowrap;
  }

}
.st-content{
  li{
    line-height: 2rem;
    a{
      display: inline !important;
      font-family: "calluna-sans", sans-serif;
      font-weight: 400!important;
      font-style: normal;
      font-size: 1.25rem!important;
      letter-spacing: 0!important;
      top:0!important;
      line-height: 1.25rem!important;
      padding-left: 0!important;
      white-space: nowrap;
      &:not(.button){
        &:after {
          content: "";
          position: absolute;
          width: 100%;
          left: 0;
          bottom: 0;
          border-bottom: 8px solid $color_lightestGray!important;
          z-index: -1;
        }
      }
      &:not(.button):hover{
        color: $color_darkGray;
        &:after {
          content: "";
          position: absolute;
          width: 100%;
          left: 0;
          bottom: 0;
          border-bottom: 8px solid $color_yellow!important;
          z-index: -1; 
          -webkit-transition: all .3s ease-in-out;
          -moz-transition: all .3s ease-in-out;
          -ms-transition: all .3s ease-in-out;
          -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
        }
      }
    }
  }
}
.st-content img{
    width:125px;
    border-right:1px solid #fff;
    border-bottom:1px solid #fff;
}
ul.lower-info-box{
margin-left: 0.25rem;
margin-bottom: 0;
font-size: 1rem;
}
@media screen and (max-width: 320px){
	.st-accordion ul li > a{
		font-size:36px;
	}
}