body#blog {
  .home-blog {
    background-color: $color_orange;
    
    &.medium{
      padding: 100px 0 40px;
    }
    h1.caption{
      @include sansSerif(900, normal, rem-calc(43), $color_darkGray);
      text-transform: inherit;
      text-align: center;
      position: relative;
      z-index: 10;
      span{
        display: inline-block;
        padding: 10px 30px;
        background: $white;
      }
    }
    .blogimage {
      margin-top: -110px;
    }
  }
  .back.button {
    transform: translateY(-50%);
  }
}
#billboard.bpheader {
  color: $white;
  text-transform: inherit;
  overflow: hidden;
  .bpdetails {
    padding-bottom: 40px;
    padding-top: 40px;
  }
  h1 {
    @include sansSerif(900, normal, rem-calc(80), $white);
    line-height: 1em;
    @media #{$small-only}{
      @include sansSerif(900, normal, rem-calc(50), $white);

    }
  }
}
#upcoming-grid.blog_posts {
  position: relative;
  margin: 10px 40px;
  overflow: visible;
  @media #{$small-only}{
    margin: 10px 20px;
  }
  .grid-sizer {
    width: 33.33%;
    @media #{$small-only}{
      width: 100%;
    }
  }
  .upimage {
    margin: 0;
    float: left;
    margin-bottom:0px;
    position: relative;
    &:before{
    	content: "";
    	display: block;
    	padding-top: 100%; 	/* initial ratio of 1:1*/
    }
    a {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      display: block;
      position: absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      padding: 60px;
      margin: 10px;
      z-index: 0;
      @media #{$small-only}{
        padding: 20px;
      }
      h5 {
        @include sansSerif(900, normal, rem-calc(80), $white);
        text-transform: inherit;
        line-height: 1em;
        z-index: 10;
        position: relative;
        @media #{$small-only}{
          @include sansSerif(900, normal, rem-calc(20), $white);

        }
      }
      &:before{
        content:"";
        position: absolute;
        top:0;
        left: 0;
        background: rgba(11,11,11,.6);
        width: 100%;
        height: 100%;
        z-index: 0;
        transition: all .2s ease-in-out;
      }
      &:hover{
        background-size: cover;
        &:before{
          background: none;
        }
      }
    }
    &.medium-4,
    &.four {
//    &:nth-child(8n+3) {
      width: 33.33%;
      @media #{$small-only}{
        width: 100%;
      }
      a {
        padding: 50px;
        @media #{$small-only}{
          padding: 10px;
        }
        h5 {
          @include sansSerif(900, normal, rem-calc(40), $white); 
          @media #{$small-only}{
            @include sansSerif(900, normal, rem-calc(20), $white);

          }       
        }
      }
    }
    &.medium-8,
    &.eight {
//    &:nth-child(8n+2) {
      width: 66.67%;
      @media #{$small-only}{
        width: 100%;
      }
    }
    &.medium-12,
    &.twelve {
//    &:nth-child(8n+5) {
      width: 100%;
      @media #{$small-only}{
        width: 100%;
        min-height:360px;
      }
      &:before{
      	padding-top: 50%; 	/* initial ratio of
        	 2:1 */
        @media #{$small-only}{
        padding-top: 0%;
      }
      }
    }
  }
}
.bpauthor{
  &.content-section{
    padding: 0;

    .text{
      margin: 60px 0;
    }
  }
  h2.title{
    display: block;
  }
}
.blogsuffix{
  padding: 30px 0 20px;
  border-top: 1px $color_lightGray solid;
  .tags{
    color: $color_orange;
    text-transform: inherit;
    font-size: rem-calc(13);
    font-weight: 900;
  }
}
.pagination-holder{
  clear: both;
  position: relative;
}
#pagination{
  a{
    &#current{
      &:after{
        border-bottom: 8px solid $color_yellow;
      }
    }
  }
}