/*** KINGSWAY EVENTLIST AND EVENT ***/

#events{
  
}
.feat-event{
  position: relative;
  margin-bottom: 30px;
  &:nth-child(5n+1){
    .eventimg{
      background: $color_orange;
    }
  }
  &:nth-child(5n+2){
    .eventimg{
      background: $color_green;
    }
  }
  &:nth-child(5n+3){
    .eventimg{
      background: $color_blue;
    }
  }
  &:nth-child(5n+4){
    .eventimg{
      background: $color_yellow;
    }
  }
  &:nth-child(5n+5){
    .eventimg{
      background: $color_red;
    }
  }

  a{

    }
  .eventimg{
    img{
      width: 100%;
      opacity: .2;        
    }
    
  }
  .event-meta{
   @include centerer;
    width: 80%;
    pointer-events: none;
    span.icon-plus{
      margin-top: 10px;
      font-size: rem-calc(48);
      display: block;
    }  
  }
  .event-date{
    @include sansSerif(900, normal, rem-calc(30), $color_darkGray);
    text-transform: inherit;
    
  }
  h2{
    display: inline;
    padding: 0.5em;
    line-height: rem-calc(65);
    text-align: center;
    span { 
      padding: 0.5em;
      box-shadow: .5em 0 0 rgba(#fff,0.9), -0.5em 0 0 rgba(#fff,0.9); 
      background-color: #fff; 
      background-color: rgba(#fff,0.9); 
    }
    &.event-title{
     @include sansSerif(900, normal, rem-calc(24), $color_darkGray);
     
    }
  }
}


#events_list{
  margin-bottom: 100px;
  margin-left: 20px;
  h3{
    margin: 30px 0;
    @include sansSerif(900, normal, rem-calc(70), $color_darkGray);
    text-transform: capitalize;
    &.monthName{
      text-align: center;
    }
    @media #{$small-only}{
      @include sansSerif(900, normal, rem-calc(40), $color_darkGray);
    }
  }
  .eventRow{
    border: 8px solid $color_darkGray;
		margin-bottom: 30px;
		z-index: 1;
		width: 100%;
		&:nth-child(5n+1){
      .event-date{
          background: $color_orange;
        }
      }
      &:nth-child(5n+2){
        .event-date{
          background: $color_green;
        }
      }
      &:nth-child(5n+3){
        .event-date{
          background: $color_blue;
        }
      }
      &:nth-child(5n+4){
        .event-date{
          background: $color_yellow;
        }
      }
      &:nth-child(5n+5){
        .event-date{
          background: $color_red;
        }
      }
    
    .title{
      position: relative;
      a{
        position: static;
         &:after {
          content: "";
          position: absolute;
          width: 100%;
          left: 0;
          bottom: 0;
          border-bottom: none;        
        }
      }
      h1{
        text-transform: inherit;
        letter-spacing: 3px;
        line-height: rem-calc(26);
        @media #{$small-only}{
          letter-spacing: 2px;
          line-height: rem-calc(20);
          font-size: rem-calc(20);

        }
      }
    }
    .arrow{
      span{
        display: block;
        cursor: pointer;
        i{
          font-size: rem-calc(60);
          line-height: rem-calc(60);
          top: 5px;
          position: relative;
           -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition:all 300ms ease-in 0s;
          -moz-transition: all 300ms ease-in 0s;
          -o-transition: all 300ms ease-in 0s;
          transition: all 300ms ease-in 0s;
        }
      }
    }
    &.open{
      .arrow{
        i{
          display: inline-block;
           -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          transform: rotate(90deg);
          -webkit-transition:all 300ms ease-in 0s;
          -moz-transition: all 300ms ease-in 0s;
          -o-transition: all 300ms ease-in 0s;
          transition: all 300ms ease-in 0s;
        }
    }
    }

  }
  .event-date {
	  @include sansSerif(600, normal, rem-calc(18), $color_darkGray);

		margin: -20px 10px -20px 10px;
		font-size: rem-calc(18px);
		text-transform: inherit;	
		text-align: center;		
		z-index: -1;
		position: relative;
		padding: 25px 0;
		span {
			display:block;
      @include sansSerif(900, normal, rem-calc(35), $color_darkGray);
      margin: -20px 0 0;
		}
	}
	
}
.eventdetail{
  .content_holder {
		display:none;
    padding: 0px 0 65px;
    margin-top: -20px;
    //margin: 0 auto !important;
    @media #{$small-only}{
      padding: 10px;
      margin-top: 20px;
    }
	}
	ul{
  	&.event-info{
      @include ulreset;
      position: relative;
      margin: 20px 0;
      padding: 20px 0;
      li{
        margin: 0;
        line-height: rem-calc(32);
        @include sansSerif(600, normal, rem-calc(20), $color_darkGray);
        
        span{
          @include sansSerif(900, normal, rem-calc(15), $color_darkGray);
          margin-right: 8px;
          letter-spacing: 3px;
          text-transform: inherit;
        }
        &:before{
          content:'';// get rid of default red bullet
          padding-right: 0;
        }
      }	
      &:before{
        content:'';
        border-top: 5px solid $color_green;
        position: absolute;
        top:0;
        left:0;
        width: 20%;
        margin-left: 0;
      }
    	&:after{
        content:'';
        border-bottom: 5px solid $color_green;
        position: absolute;
        bottom:0;
        left:0;
        width: 20%;
        margin-left: 0;
      }
  	}
	}

}
span.calendar-next.icon.icon-cal-next,
  span.calendar-prev.icon.icon-cal-prev {
    cursor: pointer;
  }
.calendar-month {
  
  position: relative;
  .calendar-prev,
	.calendar-next {
		display: block;
		position: absolute;
		top: 28%;
		height: 50px;
		width: 50px;
		text-indent: -999em;
		font-size: 4rem;
		cursor: hand;
		color: $color_darkGray;
		@media #{$small-only}{
  		top: 0;
		}

		@media print { display: none; }
	}
	.calendar-prev {
		left: 10px;
		@media #{$large-up}{
  		left: 0;
  	}
  	@media #{$medium-only}{
  		left: -50px;
  	}
  	@media #{$small-only}{
  		left: -150px;
  	}
	}
	.calendar-prev:before{
		right: -300%;
		top: 0;
		font-family: "kingsway-2016";
		content: "k";
		height: 50px;
		width: 50px;
		position: absolute;
		visibility: visible;
		text-indent: 0;
		cursor: hand;
	}
	.calendar-next {
		right: 10px;
		@media #{$large-up}{
  		right: -10px;
  	}
  	@media #{$medium-only}{
  		right: -50px;
  	}
  	@media #{$small-only}{
  		right: -150px;
  	}
	}
	.calendar-next:before{
		right: 320%;
		top: 0;
		font-family: "kingsway-2016";
		content: "d";
		height: 50px;
		width: 50px;
		position: absolute;
		visibility: visible;
		text-indent: 0;
	}

}
#events_list {
		.month {
			display:none;
			&:first-child {
				display:block;
			}
			.headline {
				overflow: hidden;
				.calendar-month {
				}
			}
			.accordionContent {
				//background: $LightestGray;
				.event {
					padding:1.25rem 0;
					&.nopad {
						padding:0;
					}
					
					.share_ical_buttons .share .st_sharethis .stButton {
						display: none;
						
						.chicklets {
							display: none;
						}
					}
					
					p {
						//@include font($Sanchez, 1em, 400, normal, none, $OverlayBrown);
						@media #{$medium-up} {
							//@include font($Sanchez, rem-calc(20px), 400, normal, none, $OverlayBrown);
						}
					}
					//@include noBackgroundButton();
					@include ulreset;
					.reg_vol_buttons {
						margin-bottom:40px;
						@media #{$medium-up} {
							float:left;
						}
						.register, .volunteer {
							display: block;
							float:none;
							
							@media #{$medium-up} {
								float:left;
								margin-right: 15px;
							}
							button, a.button {
								display:block;
								a {
									//color: $LightGray;
									width: 100%;
								}
							}							
						}
					}
					ul.event-details {
						margin: 0 0 1em 0;
						list-style-type: none;
						li {
							p {
								margin:0 0 0.5em;
								//@include font($Sanchez, 1em, 400, normal, none, $OverlayBrown);
								@media #{$medium-up} {
									//@include font($Sanchez, rem-calc(20px), 400, normal, none, $OverlayBrown);
								}
								line-height: 1.5em;
								strong{
									//color: $DarkOrange;
									font-weight: bold;							
								}
							}
						}
					}
					.share_ical_buttons {
						@media #{$medium-up} {
							float: right;
						}
						overflow: visible;
						margin: 9px 0 40px;
						.share, .import {
							width: 156px;
							font-size: 13px;
							text-decoration: none;
							text-transform: inherit;
							line-height: 1.2em;
							position:relative;
							margin-bottom: 2em;
							display:inline-block;
							@media #{$medium-up} {
								margin-bottom: 0;
							}
							i {
								font-size: 52px;
								float:left;
								margin-right:12px;
								margin-top: -12px;
							}
							span {
								position: absolute;
								top: 11px;
								left: 16px;
								// font-size: 11px;
								display:inline;
								width:21px;
								text-align: center;
								
								&.st_sharethis {
									position: relative;
									top: 0;
									left: 0;
								}
							}
							a {
								padding:12px 0;
							}
						}
						.import {
							i {
								border-radius: 1000px;
								color:#fff;
							}
							span {
								color: #fff;
							}
						}
					}
				}
			}
		}
	}
.cats{
  @include sansSerif(600, normal, rem-calc(16), $color_green);
  text-transform: inherit;
}
#event_detail{
  position: relative;
  .eventdetails{
    position: relative;
  }
  .date-badge{
    @include sansSerif(600, normal, rem-calc(18), $color_darkGray);

    position: absolute;
    top:50px;
    left: -140px;
    padding: 24px;
    background: $color_blue;
    height: 110px;
    width: 110px;
    text-transform: inherit;	
		text-align: center;		
		letter-spacing: 1px;
		span {
			display:block;
      @include sansSerif(900, normal, rem-calc(35), $color_darkGray);
      margin: -18px 0 0;
		}

  }
  .circle{
    @include circle(600px);
    margin-top: -80px;
    margin-left: -50px;
    @media #{$small-only}{
      border-radius: 100%;
      width: 100%;
      height: auto;
      margin: auto;
  	}
  }
  .eventdetails{
    padding: 80px 0;
    h1{
      text-transform: inherit;
      letter-spacing: 3px;
      line-height: rem-calc(26);
    }
    ul{
    	&.event-info{
        @include ulreset;
        position: relative;
        margin: 20px 0;
        padding: 20px 0;
        li{
          margin: 0;
          line-height: rem-calc(32);
          @include sansSerif(600, normal, rem-calc(20), $color_darkGray);
          
          span{
            @include sansSerif(900, normal, rem-calc(15), $color_darkGray);
            margin-right: 8px;
            letter-spacing: 3px;
            text-transform: inherit;
          }
          &:before{
            content:'';// get rid of default red bullet
            padding-right: 0;
          }
        }	
        &:before{
          content:'';
          border-top: 5px solid $color_green;
          position: absolute;
          top:0;
          left:0;
          width: 20%;
          margin-left: 0;
        }
      	&:after{
          content:'';
          border-bottom: 5px solid $color_green;
          position: absolute;
          bottom:0;
          left:0;
          width: 20%;
          margin-left: 0;
        }
    	}
  	}
  ul.action-items{
    @include ulreset;
    margin: 20px 0;
    li{
      float:left;
      margin-right: 8px;
      &:first-child{
        
      }
      &:before{
        content:'';// get rid of default red bullet
        padding-right: 0;
        margin-right: 0;
      }
      .button{
        padding: 20px 40px 20px 30px;
        font-size: rem-calc(14);
        letter-spacing: 1px;
        
        &:after{
          top: 37%;
          right:25px;
        }
      }
    }
  }
}
}

.eventimage{
  .button{
     &.dark.backbtn{
      text-transform: inherit;
      padding-right:26px;
      padding: 18px 40px 18px 60px;
      @include sansSerif(900, normal, rem-calc(15), $white);
      letter-spacing: 1px;
      margin-left: -40px;
      margin-top: -20px;
      &:before{
        content: "";
        width: 0;
        height: 0;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-right: 10px solid $white;
        border-left: 0px solid $white;
        position: absolute;
        left: 10%;
        top: 37%;
      }
    }
  }
}
.action-items{
  @include ulreset;
  margin-left: 0;
  li{
    display: inline-block;
    &:before{
      content: "";
      margin-right: 0;
    }
  }
}