.select2-results__options{
  li{
    &:before{
      content: none;
    }
  }
}
.sort-label{
  @include sansSerif(600, normal, rem-calc(13), $white);
  text-transform: inherit;
    letter-spacing: 1px;
    padding: 0;
}
#event_filters{
    background: $color_darkGray;
}
#event_filters .filters{
  color: $white;
    background: $color_darkGray;
    padding: 0;
    margin: 10px;
    .row {
        margin:0;
    }
    form {
        margin:0;
        fieldset{
          position: relative;
          border:none;
          margin:0;
          padding:0;
          .icon-search{
            color: $color_darkGray;
            font-size: rem-calc(30);
            top:45%;
          }
        }
        .select2-container,
        .chosen-container {
            font-size: rem-calc(18);
            a {
                &:hover {
                    text-decoration: none !important;
                }
            }
            .select2-selection__clear {
                position: relative;
                z-index: 999;
            }
            .select2-selection--single .select2-selection__arrow b {
            border-color: $color_darkGray transparent transparent transparent;
            border-width: 5px 4px 0 4px;
            }
            &.select2-container--open .select2-selection--single .select2-selection__arrow b {
            border-color: transparent transparent $color_darkGray transparent;
            border-width: 0 4px 5px 4px;                
            }
            .select2-selection--single .select2-selection__rendered,
            .select2-selection--single .select2-selection__placeholder {
                @include sansSerif(900, normal, rem-calc(18), $color_darkGray);
                text-transform: inherit;
                letter-spacing: 2px;
            }
            .select2-selection,
            .chosen-single {
                margin:8px 0 0;
                position: relative;
                border: solid 3px $white;
                border-radius: 0;
                background: $white;
                height: 35px;
                font-size: rem-calc(18px);
                div b {
                    top:50%;
                    right:0;
                    border: solid transparent;
                    content: "";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    border-color: rgba($white, 0);
                    border-top-color: $white;
                    border-width: 9px;
                    margin-right: 7px;
                    margin-top:-6px;
                }
                .search-choice-close {
                    color: $white;
                    font-size: rem-calc(11);
                    line-height: 1;
                    top: 50%;
                    right: 28px;
                    margin-top:-7px;
                    cursor: pointer;
                    &:before {
                        content: "\e00e";
                      font-family: "kingsway-2016" !important;
                      font-style: normal !important;
                      font-weight: normal !important;
                      font-variant: normal !important;
                      text-transform: none !important;
                      speak: none;
                      line-height: 1;
                      -webkit-font-smoothing: antialiased;
                      -moz-osx-font-smoothing: grayscale;
                        pointer-events: none;
                        color:red;
                    }
                }
            }
            .select2-results,
            .chosen-results {
                li {
                    //font-family: $font-family-sans-serif;
                    font-weight: 100;
                    font-size: rem-calc(14);
                    line-height: 1.3;
                }
            }
        }
        select,
        input#search_term3 {
      @include sansSerif(900, normal, rem-calc(18), $color_darkGray);
            text-transform: inherit;
            letter-spacing: 2px;
            border: 3px solid $white;
            height: auto;
            margin: 8px 0;
            position: relative;
            &::-webkit-input-placeholder {
              color: $color_darkGray;
            }
            &:-moz-placeholder { /* Firefox 18- */
              color: $color_darkGray;  
            }
            &::-moz-placeholder {  /* Firefox 19+ */
              color: $color_darkGray;  
            }
            &:-ms-input-placeholder {  
              color: $color_darkGray;  
            }
        }
        select {
            line-height: rem-calc(13px);
            background: none;
            color: $white;
            padding:8px;
            &.select2-hidden-accessible {
                display: none;
            }
        }
        input#search_term3 {
            line-height: rem-calc(22px);
            background-color: $white;
            color: $color_darkGray;
            padding:3px 8px;
            box-shadow: none;
        }
        button {
            position:absolute;
            right:0;
            top:50%;
            border:none;
            padding:0;
            margin:-13px 10px 0 0;
            font-size: rem-calc(24);
        }
    }
}
/***STAFF FILTERS ***/
#filter_row {
  padding: 25px 0;
  background: $color_darkblue;
  color: $white;
  select, input {
    margin: 0;
    font-weight: bold;
  }
  form { 
    margin: 0;
  }
  .shrink {
    text-transform: inherit;
    display: block;
    text-align: right;
    line-height: 39px;
    font-weight: bold;
  }
  #blog_search {
    .submit {
      display: block;
    }
  }
   
  .select2-container,
        .chosen-container {
            font-size: rem-calc(18);
            a {
                &:hover {
                    text-decoration: none !important;
                }
            }
            .select2-selection__clear {
                position: relative;
                z-index: 999;
            }
            .select2-selection--single .select2-selection__arrow b {
            border-color: $color_darkGray transparent transparent transparent;
            border-width: 5px 4px 0 4px;
            }
            &.select2-container--open .select2-selection--single .select2-selection__arrow b {
            border-color: transparent transparent $color_darkGray transparent;
            border-width: 0 4px 5px 4px;                
            }
            .select2-selection--single .select2-selection__rendered,
            .select2-selection--single .select2-selection__placeholder {
                @include sansSerif(900, normal, rem-calc(18), $color_darkGray);
                text-transform: inherit;
                letter-spacing: 2px;
                line-height: 2rem;
            }
            .select2-selection,
            .chosen-single {
                margin:0;
                position: relative;
                border: solid 3px $white;
                border-radius: 0;
                background: $white;
                height: 42px;
                font-size: rem-calc(18px);
                div b {
                    top:50%;
                    right:0;
                    border: solid transparent;
                    content: "";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    border-color: rgba($white, 0);
                    border-top-color: $white;
                    border-width: 9px;
                    margin-right: 7px;
                    margin-top:-6px;
                }
                .search-choice-close {
                    color: $white;
                    font-size: rem-calc(11);
                    line-height: 1;
                    top: 50%;
                    right: 28px;
                    margin-top:-7px;
                    cursor: pointer;
                    &:before {
                        content: "\e00e";
                      font-family: "kingsway-2016" !important;
                      font-style: normal !important;
                      font-weight: normal !important;
                      font-variant: normal !important;
                      text-transform: none !important;
                      speak: none;
                      line-height: 1;
                      -webkit-font-smoothing: antialiased;
                      -moz-osx-font-smoothing: grayscale;
                        pointer-events: none;
                        color:red;
                    }
                }
            }
            .select2-results,
            .chosen-results {
                li {
                    //font-family: $font-family-sans-serif;
                    font-weight: 100;
                    font-size: rem-calc(14);
                    line-height: 1.3;
                }
            }
        }
        input#module-search-term {
      @include sansSerif(900, normal, rem-calc(18), $color_darkGray);
            text-transform: inherit;
            letter-spacing: 2px;
            border: 2px solid $white;
            height: auto;
            margin: 0;
            position: relative;
        }
    fieldset{
        position: relative;
            border:none;
            margin:0;
            padding:0;
            .icon-search{
            color: $color_darkGray;
            font-size: rem-calc(30);
            top: 10%;
        position: absolute;
        right: 7px;
            }
        }
}/** end #filter_row **/