$menu_overlay: rgba($color_blue,1);

#fixed-toolbar{
   display: none;
   z-index: 9999;
   @include transition(opacity .3s ease);
   opacity: 0;

  &.show{
    display: block;
    position: fixed;
    width: 100%;
    background: $white;
    opacity: 1;
    border-bottom: 1px solid $color_lightestGray;

   @include transition(all .3s ease);

  }
  .fh-toolbar{
    height: 75px
  }
}
a.pyv.button.expanded {
    @include sansSerif(900, normal, rem-calc(34), $color_darkGray);

    padding: 20px 40px;
    width: 100%;
    margin: 20px auto;
    background: $white;
    text-transform: inherit;
    &:hover{
      color: $white;
      background: $color_darkGray;
    }
     @media #{$small-only}{
      width: 100%;
      @include sansSerif(900, normal, rem-calc(24), $color_darkGray);
      padding: 20px 60px;

    }
}
.content_overlay {
	display: none;
	position: fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	width:100%;
	height:100%;
	z-index: 999999;
	text-align: center;
	padding: 40px 10px;
	background-color: $color_blue;
	overflow-y:auto;
	@media #{$medium-up} {
		padding: 40px;
		&:before {
				content:"";
				height:100%;
				vertical-align: middle;
				display:inline-block;
			}
	}
	.sm {
    position: absolute;
    top: 30px;
    margin-left: 10%;
    @media #{$small-only}{
      position: relative;
      bottom: 0;
      top: 0;
      margin-left: 0;
      margin-top: 50px;
    }
    @media #{$medium-only}{
      position: relative;
      bottom: 0;
      top: 0;
      margin-left: 0;
      margin-top: 50px;
    }
    @media #{$large-only}{
      position: relative;
      bottom: 0;
      top: 0;
      margin-left: 0;
      margin-top: 50px;
    }
    a{
      position: relative;
      i{
        font-size: rem-calc(40);
        margin: 0 4px;
        color: $color_darkGray;
        @include transition(color .3s ease);
        position: relative;
      }
      &:hover:after {
        content: "";
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 15%;
        border-bottom: 12px solid $white;
        z-index: -1;
      }
    }
  }

	.centered {
		@media #{$medium-up} {
			width:80%;
			margin:0 auto;
			display:inline-block;
			vertical-align: middle;
		}
		text-align: center;
		.container {
  		margin-top: -5%;
			position: relative;
			overflow: hidden;
		}
	}
	#closer {
		@include transition(none);
		position: absolute;
		right: 23px;
		top: 23px;
		width: 54px;
		margin:0;
		padding:0;
		color: $color_darkGray;
		z-index: 20;
		@media #{$small-only}{
  		right: 0px;
      top: 5px;
      position: fixed;
		}
		i {
			font-size: rem-calc(42);
			height:52px;
			width:52px;
			display:block;
			border: 0;
			padding:0px;
		}
		&:hover {
			color:none;
			i {
				border-color:none;
			}
		&:after{
      bottom: 6px;
      border-bottom: 10px solid $white;
  		}
		}
	}
	&#locations {
		.centered {
			@media #{$medium-up} {
				width:70%;
			}
		}
	}
	&#menu {
		background-color: $menu_overlay;
		#nav {
      margin: 50px 0 0;
      padding: 0;
      list-style-type: none;

			#nav_why-kcs_menu{
  			a{
    			&:after{
					 border-bottom: 8px solid $white;
				  }
  			}
			 }
			 #nav_admissions_menu{
  			a{
    			&:after{
					 border-bottom: 8px solid $color_green;
				  }
  			}
		  }
		  #nav_academics_menu{
  			a{
    			&:after{
					 border-bottom: 8px solid $color_orange;
				  }
  			}
			 }
      #nav_student-life_menu{
  			a{
    			&:after{
					 border-bottom: 8px solid $color_red;
				  }
  			}
		  }
		  h2{
  		  line-height: 1.5rem;
  		  margin-bottom: 10px;
		  }
			h2 a{
  			color: $color_darkGray;
  			font-size: rem-calc(30);
  			text-transform: inherit;
  			margin-bottom: 20px;
  			pointer-events: none;//disable lvl 1 in overlay
			}
			ul{
  			margin-left: 0;
			}
			li {
				letter-spacing: 2px;
				font-size: rem-calc(20);
				margin-bottom: 0;
				line-height: 1.25rem;
				padding: 10px 0;
				@media #{$medium-up}{
  				
				}
				&:before{
					content:'';
					margin-right: 0;
				}
				a {
  				@include sansSerif(600, normal, rem-calc(17), $color_darkGray);
					border-bottom: none;
					padding-bottom:0px;
					margin-bottom:0px;
					text-transform: inherit;
					&[href="#"]{
						cursor: default;
						&:hover {
							color:$primary-color;
						}
					}
				}
				ul {
				@include ulreset;
				
					li {
						//font-family: $font-family-serif;
						font-size: rem-calc(16);
						font-weight: 400;
						letter-spacing: normal;
						line-height: .5rem;
						&:before{
  						content: '-';
  						position: relative;
              margin-left: -20px;
              font-size: 1rem;
  						color: $white;
						}
						a {
							color:$color_darkGray;
							border:none;
							text-transform: inherit;
							margin:0;
							padding:0;
						}
					}
				}
			}
		}
	}
	#mnav{
  	margin: 30px 0 20px;
  	position: relative;
  	ul.vertical.menu{
    	li {
  			letter-spacing: 3px;
  			font-size: rem-calc(20);
  			margin-bottom: 0;
  			line-height: 1rem;
  			padding: 0;
  			text-align: center;
  			a{
    			border-bottom: none;
    			&:not(.button):hover:after{
      		  border-bottom: none;

    			}
  			}
  			& > a{
    		  display: block;
  				@include sansSerif(900, normal, rem-calc(30), $color_darkGray);
  			}
  			ul{ 
    			&.menu.nested{
      			margin-left: 0;
    			}
    			li{
    			line-height: 1rem;
    			padding: 0;
      		  a{
            @include sansSerif(400, normal, rem-calc(17), $color_darkGray);
              padding: 0;
    			  }
    			}
  			}
  			@media #{$medium-up}{
  				
  			}
  			&:before{
  				content:'';
  			}
  			&.is-accordion-submenu-parent > a::after{
          border: none;
  			}
  		}
		}
	}
	&#searchbox {
		padding: 33px 20px 40px;
		.resultsnumber {
			font-weight: 600;
			font-size: rem-calc(22);
			//margin:30px 0;
		}
		h1.title {
			//@include myriad-pro-black-condensed;
			text-transform: inherit;
			letter-spacing: 2px;
			margin: 0 0 1em;
			line-height: rem-calc(48);
			@media #{$medium-up} {
				display: none;
			}
		}
		#searchForm {
			margin-top:8px;
			position: relative;
			@media #{$xlarge-up} {
				margin-right: 85px;
			}
			fieldset{
				border:none;
				margin:0;
				padding:0;
			}
			#search_go {
				position: absolute;
				top:10px;
				right:15px;
				font-size: 48px;
				color: brown;
			}
		}
		#search-tabs {
			margin-top: 20px;
			ul.tabs {
				li.tab-title {
					margin-right: 5px;
					a {
						background: none;
						border: solid 3px $color_darkGray;
						color: $color_darkGray;
						//@include myriad-pro-black-condensed();
						text-transform: inherit;
						letter-spacing: 2px;
						line-height: 1em;
						font-size: 15px;
						padding: 10px 15px;
					}
					&.active a {
						background: red;
						color: purple;
						border: solid 3px red;
						outline: none;
					}
				}
				.content {
					display: none;
				}
			}
			.tabs-content {
			}
			#search_results_select {
				position: relative;
				select#search_result_ctgys {
					margin: 0;
			    border: solid 3px #F1F1F1;
			    border-radius: 0;
			    background: none;
			    font-size: 1.125rem;
			    color: #F1F1F1;
					text-transform: inherit;
					//font-family: "myriad-pro-condensed",sans-serif;
					font-style: normal;
					font-weight: 900;
					height: auto;
				}
				&:after {
				  //font-family: "yourchurch" !important;
				  font-style: normal !important;
				  font-weight: normal !important;
				  font-variant: normal !important;
				  text-transform: none !important;
				  speak: none;
				  line-height: 1;
				  -webkit-font-smoothing: antialiased;
				  -moz-osx-font-smoothing: grayscale;
					content: "\e01c";
					position: absolute;
					top: 13px;
					right: 13px;
					color: #F1F1F1;
					font-size: 20px;
				}
			}
		}
		#search-results {
			text-align: left;
			color: pink;
			//overflow: auto;
			article {
				padding-bottom:15px;
				margin-bottom:15px;
			}
			h2 {
				//@include myriad-pro-black-condensed();
				text-transform: inherit;
				letter-spacing: 2px;
				margin:0 0 10px;
				line-height: 1em;
				a {
					color: red;
				}
			}
			h6 {
				//@include myriad-pro-black-condensed();
				text-transform: inherit;
				letter-spacing: 1px;
				margin:0 0 5px;
				a {
					color: $color_darkGray;
				}
			}
			ul.sermon_details {
				margin:0;
				font-weight: 600;
				li:first-child {
					margin-left:0;
				}
				li.passage {
					strong {
						font-style: italic;
						color: $color_darkGray;
					}
				}
			}
			a.readmore {
				//@include myriad-pro-black-condensed();
				text-transform: inherit;
				letter-spacing: 2px;
				color: red;
			}
		}
		#search_term {
			font-size: 48px;
			line-height: auto;
			height: auto;
			vertical-align: middle;
			font-style: italic;
			padding:0 15px;
		}
		#pagination {
			margin: 1em 0 2em;
		}
	}
}
.fh-subnav{
  background: $color_blue;
  height: 30px;
  top: 70px;
  position: absolute;
  z-index: 99;
  width: 100%;
}
//Home buttons and sm
#home nav{
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  button{
    width: 19.5%;
    z-index: 0;
    @media #{$small-only} {
      width: 20%;
    }
  }
  button[class^="n-"]{
    @include sansSerif(600, normal, rem-calc(24), $color_darkGray);
    letter-spacing: 3px;
    text-align: center;
    padding: 1.75rem 0;
    margin: 0 .25rem 1.25rem 0;
    position: relative;
    text-transform: inherit;
    @media #{$small-only} {
      padding: 1rem 1.875rem;
      letter-spacing: 2px;
      min-height: 60px;
    }
    
    &.large{
      font-size: rem-calc(24);
      margin-bottom: 0;
      @media #{$small-only} {
        @include sansSerif(600, normal, rem-calc(13), $color_darkGray);
        padding: 1rem 0;
        letter-spacing: 1px;
        text-align: center;
        margin: 0;
      }
    }
  }
  .button{
    &:hover{
      color: $color_darkGray;
      background-color: none;
    }
    &:after{
    content: "";
    width: 0;
    height: 0;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    position: absolute;
    right: 7%;
    top: 35%;
    &:hover{
     border-left: none;

    }
    }
  }
  button:last-child{
   	margin: 0 0rem 1.25rem 0;;
  }
  .button.large::last-child{
    width: 50%;
  }
  button:nth-child(1){
    background: $color_blue;
  }
  button:nth-child(2){
    background: $color_green;
  }
  button:nth-child(3){
    background: $color_orange;
  }
  button:nth-child(4){
    background: $color_yellow;
  }
  button:nth-child(5){
    background: $color_red;
  }
  span{
    position: relative;
    z-index: 0;
  }
  span:hover::after{
    content:"";
    position: absolute;
    width:100%;
    left:0;
    bottom: 10%;
    border-bottom: 8px solid $white;
    z-index: -1;
    @include transition(all .3s ease);
  }
}
.switcher{
  a{
    @include sansSerif(600, normal, rem-calc(15), $color_darkGray);
    text-transform: inherit;
    letter-spacing: 2px;
    margin: 0 10px;
    line-height: 2.1rem;
    @include transition(color .3s ease);
    @media #{$small-only}{
      @include sansSerif(600, normal, rem-calc(13), $color_darkGray);
      line-height: 1.75rem;
      margin: 0 5px;

    }
    &:hover{
//       color: $color_yellow;
    }
    &.active:not(.button){
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        border-bottom: 8px solid $color_yellow;
        z-index: -1;
      }
    }
  }
}


// Right side subpage links and menu icon
.menu-opener{
  
}
nav{
  position: absolute;
  right: 0; 
  ul {
  	@include ulreset();
  	li {
  		@media #{$medium-up} {
  			display: inline;
  			margin:0 20px;
  			float: left;
  		}
  		text-transform: inherit;
  		font-size: 14px;
  		line-height: 30px;
      @include sansSerif(600, normal, rem-calc(16), $color_darkGray);
  		&:before{
    		content: '';
        font-size: 0;
        padding-right: 0;
        position: relative;
        top: 0;
        margin-right: 0;
  		}
  		a {
    		@include sansSerif(600, normal, rem-calc(16), $color_darkGray);
  			&:hover {
          color: $color_darkGray;
  			}
  			&:after {
          content: "";
          position: absolute;
          width: 100%;
          left: 0;
          bottom: 0;
          border-bottom: 8px solid $color_lightestGray;
          z-index: -1; 
        }
  			&:before {
  				display: none;
  			}
  			&.icon-menu {
  				@include transition(none);
          display: block;
          text-indent: -999em;
          position: relative;
          font-size: 24px;
          line-height: 42px;
          font-style: normal;
          font-weight: 900;
          text-transform: inherit;
          font-size: 14px;
          letter-spacing: 4px;
  				&:before {
  					display: block;
            text-indent: 0;
  /*
            border: solid 3px #c4c0bb;
            border-radius: 1000px;
  */
            font-style: normal;
            font-weight: normal;
            padding: 10px;
            width: 42px;
            height: 42px;
            float: right;
            font-size: 48px;
            margin: -20px 0 0;		
  				}
  				&:hover {
  					&:before {
  					}
  				}
  			}
  		}
  		&#menu_nav {
    		a {
      		@include sansSerif(600, normal, rem-calc(16), $color_darkGray);
    			&:hover {
            color: $color_darkGray;
    			}
    			&:after {
            content: "";
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 0;
            border-bottom: none;
            z-index: -1; 
          }
        }
        @media #{$small-only}{
          margin-right: 12%;
        }
  		}
  	}
	}
}
.subnavbar{
  position: relative;
  background: $color_green;
  z-index: 9;
  #subnav{
    @include ulreset;
    li{
      display: inline-block;
      font-size: .875rem;
      text-transform: inherit;
      line-height: 1em;
      padding: 0;
      margin: 20px 0;
      font-weight: 600;
      @media #{$small-only}{
        margin: 10px 0;
      }
      &:before{
        content: none;
      }
      &:after{
        content: "/";  
        padding: 0 10px;
      }
      &:last-child{
        &:after{
          content: "";
          padding: 0;
        }
      }
    }
  } 
}

