body.page{
  
  header{
    position: relative;
    .subpage{
      background: $white;
    }
  }
  .fh-toolbar {
    padding: 15px 0 0;
    position: fixed;
    z-index: 9999;
    width: 100%;
    background: $white;
  }
  .toolbar-l{
    position: relative;
    height: 45px;
    .switcher{
      text-align: left;
    }
  }
  .toolbar-r{
    height: 45px;
  }

  #logo{
    position: relative;
    top: 15px;
    left:30px;
    float: left;
  }
  .fh-nav{
      position: relative;
      margin: 0px 0 0;
  }
  nav{
    display: block;
    position: relative;
    width: 100%;
    button{
      width: 20%;
      z-index: 0;
    }
    button[class^="n-"]{
      @include sansSerif(600, normal, rem-calc(15), $color_darkGray);
      letter-spacing: 4px;
      padding: 1rem 1.375rem;
      margin: 0 0 1.25rem 0;
      position: relative;
      &.large{
        font-size: rem-calc(15);
        margin-bottom: 0;
      }
    }
    span{
      position: relative;
      z-index: 0;
    }
    span:hover::after{
      content:"";
      position: absolute;
      width:100%;
      left:0;
      bottom: 10%;
      border-bottom: 6px solid $white;
      z-index: -1;
      @include transition(all .3s ease);
    }
  }
}
h1.caption{
  @include sansSerif(900, normal, rem-calc(43), $color_darkGray);
}
.overlay{
  div{
    margin-bottom: 10px;
  }
  span{
    display: inline-block;
    padding: 10px 30px;
    background: rgba(255,255,255,.7);
    text-transform: inherit; 
    p{
      margin: 0;
    }
  }
}

#page_content {
  padding: 30px 0;
  h5{
//     margin-bottom: 30px;
  }
  h5 + h3{
    margin-top: 40px;
  }
  .separator {
    min-height: rem-calc(400);
    margin: 0 0 2em;
    background-size: cover;
    
    @media #{$xlarge-up} {
      background-attachment: fixed;   
    }
    background-position: 50% 0;
    position: relative;
    .caption {
      color: $color_lightGray;
      margin: rem-calc(185) 0;
      h1 {
        line-height: 1;
      }
    }
  }
  figure{
    margin: 0 0 0 -160px;
    padding: 0;
    position: relative;
    left:0;
    @media #{$small-only}{
      margin: 0 0 0 0;

    }
    figcaption{
      @include sansSerif(900, normal, rem-calc(26), $color_green);
      position: absolute;
      bottom: 0;
      right: 0;
      max-width: 32%;
      text-transform: inherit;
      line-height: 1.75rem;
      background: white;
      padding: 10px;
      @media #{$small-only}{
        position: relative;
        max-width: 100%;
        left: 0;
        padding: 0px 30px;
        
       span{
        font-size: rem-calc(18);
        line-height:rem-calc(20);
        } 
      }
      @media #{$medium-only}{
       span{
        max-width: 35%;
        } 
      }
    }
  }
}
.content-section{
  padding: 10px 0 50px;
  .circle{
    margin-top:-45px;
    margin-bottom: 25px;

    &.left{
      margin-left: -50px;
    }
    &.right{
      margin-left: 50px;
    }
  }
  .text{
    margin-top: 50px;
    p{
      font-size: rem-calc(20);
      line-height: 1.5rem;
    }
    h2{
     @include sansSerif(900, normal, rem-calc(70), $color_darkGray);
     text-transform: inherit;
     
    }
  }
  .left .text{
    margin-right: 300px;
    margin-left: 0;
  }
  .right .text{
    margin-right: 0;
    margin-left: 300px;
  }
}

.fullWidth {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: initial;
	.column{
  	padding-left: 0;
  	padding-right: 0;
	}
}