.plan-your-visit-header {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 100px;
  h1 {
    @include sansSerif(900, normal, rem-calc(70), $color_darkGray);
    text-transform: inherit;
    margin-bottom: 35px;
    @media #{$small-only}{
      font-size: rem-calc(60);
      line-height: rem-calc(60);
    }
  }
  h2 {
    @include sansSerif(900, normal, rem-calc(43), $color_darkGray);
    text-transform: inherit;  
    padding: 25px 40px;
    background: $white;
    display: inline-block;
    line-height: 1em;
    @media #{$small-only}{
      font-size: rem-calc(32);
    }
  }
  p {
    @include sansSerif(normal, normal, rem-calc(30), $color_darkGray);
    margin: 1.5em 0;
    line-height: 1.5em;
    @media #{$small-only}{
      font-size: rem-calc(30);
      margin: 1.5rem 1rem;
      line-height: 2.25rem;
    }
  }
  #pyv_links {
    margin-top: 60px;
    .column {
      position: relative;
      z-index: 10;
      &:first-child,
      &:last-child {
        z-index: 0;
      }
      @media #{$small-only}{
        margin-bottom: 20px;
      }
    }
    img.circle {
      width: 110%;
      max-width: 110%;
      margin-left: -5%;
      height: auto;
    }
    p.linkdesc {
      @include sansSerif(normal, normal, rem-calc(20), $color_darkGray);
      margin: 1.5em 0;
      line-height: 1.5em;      
      @media #{$small-only}{
        margin: .5em 0;
      }
    }
  }
}
#pyv_detail_header {
  padding-top: 160px;
  overflow-x: hidden;
  img.circle {
      width: 110%;
      max-width: 110%;
      margin-left: -15%;
      margin-top: -140px;
      height: auto; 
      @media #{$small-only}{
       margin-left: -10%;
       margin-top: -60px;
      }
  }
  h1.page_title {
    @include sansSerif(900, normal, rem-calc(43), $color_darkGray);
    text-transform: inherit;  
    padding: 25px 40px;
    background: $white;
    display: inline-block;
    line-height: 1em;
    position: relative;
    z-index: 10;
  }
  .text_box * {
    @include sansSerif(normal, normal, rem-calc(20), $white);
    @media #{$small-only}{
      margin: 1rem 1.5rem;
    }
  }
  #pyvsectionlinks {
    padding-top: 50px;
    padding-bottom: 50px;
    @media #{$small-only}{
      padding-top: 10px;
      padding-bottom: 10px;
    }
    div{
      margin: 0 5px;
      &.medium{
        padding: 20px 0;
      }
    }
    img {
      border-radius: 100%;
//       width: 100%;
      height: auto;
      margin-bottom: 10px;
    }
    a {
      text-align: center;
      color: $white;
      text-transform: inherit;
      &:hover {
        color: $color_yellow;
        &:after {
          display: none;
        }
      }
      i {
        display: inline-block;
        color: $color_yellow;
        font-size: rem-calc(150);
        line-height: 1;
      }
      span {
        display: block;
        width: 110px;
        @include sansSerif(900,normal, rem-calc(16),$white);
        line-height: 1;
      }
    }
  }
}

.content-section-inner{
    h2 {
    @include sansSerif(900, normal, rem-calc(36), $color_darkGray);
    text-transform: capitalize;  
    padding: 25px 0 0;
    display: inline-block;
    line-height: 1em;
  }
  .medium-5{
    .circle{
      @include circle(500px);
      @media #{$small-only}{
       width: 100%;
       height: auto;
      }
      @media #{$large-only}{
       width: 100%;
       height: auto;
      }
    }
  }
}
.yellow, .green, .blue{
  .content-section-inner{
    h2{
      @include sansSerif(900, normal, rem-calc(60), $color_darkGray);
      line-height: 3.75rem;
      text-transform: inherit;
      padding-right: 100px;
      @media #{$small-only}{
        padding-right: 0;
      }
    }
  }
}
#pyvsectionlinks{
  img.circle{
    @include circle(250px);
    @media #{$small-only}{
      margin-top:20px;
    }
  }
  span{
    margin: 0px 40px 20px;
    display: block;
  }
}
.scroller {
  margin-top: -50px;
  margin-bottom: 50px;
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 3px;
  line-height: 1rem;
  span.icon {
    font-size: 2.5rem;
  }
}
#plan-your-visit-explore-a-360-video h2{
  color: $white;
}