.rotator,
.static {
	position: relative;
	z-index: 0;
	height: 100%;
	@media #{$small-only} {
    min-height: 308px;
	}
	.slide {
		//background-color: rgba(48,48,48,0.44);
		//background-blend-mode: multiply;
		//background-position: 50% 0px;
		//background-size: cover;
		//background-attachment: fixed;
		&:before {
			content:"";
			position: absolute;
			width: 100%;
			height:100%;
			top:0;
			left:0;
      			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#29231f+0,29231f+50,29231f+100&0.5+0,0+50,0.5+100 */
      background: -moz-linear-gradient(top, rgba(41,35,31,0.5) 0%, rgba(41,35,31,0) 50%, rgba(41,35,31,0.5) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(41,35,31,0.5) 0%,rgba(41,35,31,0) 50%,rgba(41,35,31,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(41,35,31,0.5) 0%,rgba(41,35,31,0) 50%,rgba(41,35,31,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8029231f', endColorstr='#8029231f',GradientType=0 ); /* IE6-9 */
		}
	}
	img.loading {
		width:100%;
		height:auto;
	}
	.cycle-slideshow {
		position: relative;
		top:0;
		left:0;
		width: 100%;
		.slide {
			width: 100%;
			height: auto;
			@media #{$large-up} {
				height: 100%;
			}
			visibility: hidden;
			background-repeat: no-repeat;
			background-size: cover;
			.vc {
			  @include centerer(false, true);
			  	width: 100%;
				padding: 0 20px;
				position: relative;
				top: auto;
				transform: none;
				@media #{$large-up} {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
				}
			}
			.overlay, .row, .columns {
				position: relative;
				z-index: 999;
				padding: 50px 0;
				height: auto;
				@media #{$large-up} {
					padding: 0;
					height: 100%;
				}
			}
			.caption {
				text-transform: inherit;
				a.learnmore {
					//@include leagueGothic(normal,normal,8vw,$tanmediumlight);
					//border-bottom: solid 5px $tanmediumlight;
					margin-top:10px;
					display: inline-block;
					@media #{$large-up} {
						//@include leagueGothic(normal,normal,rem-calc(60),$tanmediumlight);
						//border-bottom: solid 10px $tanmediumlight;
						margin-top: 40px;
					}
					padding-bottom: 0px;
					line-height: 1em;
					vertical-align: middle;
					&:hover {
						//color: $blue;
						//border-color: $blue;
					}
				}
			}
			.ctgytitle {
				text-align: center;
				font-size: rem-calc(30);
				//color: $tanlight;
			}
		}
	}
}
#home {
	.rotator,
	.static {
		
		.cycle-slideshow {
			.slide {
				
				.vc {
				  //@media #{$small-only} {
						position: relative;
						top: 50%;
						transform: translateY(-50%);
					//}
				}
				.overlay, .row, .columns {
						padding: 50px 0;
						height: 100vh;
            @media #{$large-up} {
              padding:0;
  					}
				}
			}
		}
	}
}

#slidernav {
	position: absolute;
	bottom: 50px;
	right: 0;
	left:0;
	text-align: center;
	z-index: 999;
	span {
		display: inline-block;
		//background-color: $tanmediumlight;
		border-radius: 1000px;
		padding: 5px;
		margin: 0 5px;
		text-indent: -999em;
		height:5px;
		width:5px;
		line-height: 0;
		cursor: pointer;
		&.cycle-pager-active {
			//background-color: $tanlight;
		}
	}
}