.search-result{
   a:not(.button):after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    border-bottom: 8px solid #e2e2e2;
    z-index: -1;
  }
  a:not(.button):hover:after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    border-bottom: 8px solid $color_yellow;
    z-index: -1;
  }
}