body {
  overflow-x: hidden;
}
.content-section{
  &.hasbg {
    background-size: cover;
    background-position: center center;
  }
  .align-center {
    text-align: center;
  }
  .align-left,
  .align-right {
    .text {
      margin: 20px 0 0;
    }
  }
  .content-section-inner {
    padding-bottom: 10px;
  }
  .circle{
    margin-top:-45px;
    margin-bottom: 25px;
    @media #{$small-only}{
      margin-bottom: 10px;
      height: auto;
    }
    &.left{
      margin-left: -10%;
      width: 100%;
      max-width: 100%;
      @media #{$small-only}{
        margin-left: 0;
      }
    }
    &.right{
      margin-right: -10%;
      width: 100%;
      max-width: 100%;
      @media #{$small-only}{
        margin-left: 0;
      }
    }
  }
  .text{
    margin: 120px 0;
    p{
      font-size: rem-calc(20);
      line-height: 1.5rem;
    }
    h2{
     @include sansSerif(900, normal, rem-calc(70), $color_darkGray);
     text-transform: inherit;
     line-height: rem-calc(70);
     margin-bottom:30px;
    }
  }
  .caption {
    @include sansSerif(900, normal, rem-calc(43), $color_darkGray);
    text-transform: inherit;
    position: relative;
    z-index: 10;
    display: inline-block;
    padding: 10px 30px;
    background: $white;
    &:before,&:after {
      content: ' ';
      display: table;
      flex-basis: 0;
      order: 1;
      clear: both;
    }
  }
}
.content-section{
  &.small{
    .text{
      margin: 50px 0 100px;
      h2{
        padding-right: 0px;
      }
    }
  }
}

#page_content + div.content-section{
  margin-top: 30px;
}
div.content-section + div.content-section{
  padding: 30px 0;
}