// SERIES PAGE

.closer {
		position: relative;
		float:right;
		span{
  		font-size: rem-calc(40);
    }
	}
#sermons{
  header{
 
    .slide{
      height: 780px;
      @media #{$large-up}{
        height: 780px;
      }
      .caption{
        margin-top: 30px;
      }
      .row{
        height: 100%;
      }
      .isDark{
        color: $white;
        h6{
         @include sansSerif(600, normal, rem-calc(30), $white);
          background: none;
          display: block;
          text-transform: inherit;
          letter-spacing: 0;
        }
        h3{
          @include sansSerif(900, normal, rem-calc(70), $white);
          padding: 20px;
          border: 8px solid $white;
          display: inline-block;
          letter-spacing: 2px;
          line-height: rem-calc(76);
           
        }
      }
      .isLight{
        color: $color_darkGray;
      }
      .series_title{
        @include sansSerif(900, normal, rem-calc(35), $white);  
        text-transform: inherit;   
        margin: 30px 0;   
      }
    }
  }
  #billboard{
    &.videohdr{
      top:60px;
      #messagevideo{
        video{
        }
      }
    }
  }
}
.sermon-media{
    margin-top: 40px;
    a:not(.button) {
      display: block;
      text-decoration: none;
      color: $color_darkGray;
      span{
      font-size: rem-calc(36);
      }
      @media #{$medium-up} {
        display: inline;
      }
      &:hover{
        text-decoration: none;          
      }
    }
    .shrink{
    padding: 0 .4rem;
    }
  ul{
    @include ulreset;
    li {
        margin: 0 0 4px;
        &:before{
       content:''; 
      }
        @media #{$medium-up} {
        //    display: inline;
            margin:0 5px;
        }
        font-size: rem-calc(16);
        a {
            display: block;
            text-decoration: none;
            color: $color_darkGray;
            span{
                font-size: rem-calc(36);
            }
            @media #{$medium-up} {
                display: inline;
            }
            &:hover{
                text-decoration: none;          
            }
        }
      }
  }
}
  #sermons{
    header{
        .isDark{
        a:not(.button) {
         color: $white;
        }
      }
    }
  }	
#sermon-series-grid {
	.sermons {
		.sermon {
  		padding-left: 0.5rem;
      padding-right: 0.5rem;
  		margin-bottom: 0rem;
			img {
				width: 100%;
			}
			
			.sermon-icon {
				padding-bottom: 20px;
				min-height: 441px;
        border: 0px solid black;
			}
			
			.sermondetail {
				display: none;
				//background-color: $color_lightgray;
				position: relative;
				margin-bottom: 57px;
				margin-top: 33px;
				
				p {
  				margin-bottom: 75px;
				}
				
				.content_holder {
  				display:none;
          padding: 65px 0;
          //margin: 0 auto !important;
				}
				.sermon-description{
  				p{
  				  @include sansSerif(600,normal,rem-calc(35px),$color_orange);
  				  line-height: rem-calc(40);
  				  margin: 20px 50px 50px;
          }
				}
				.individual-sermon {
					border: 8px solid $color_darkGray;
					margin-bottom: 30px;
					z-index: 1;
					@media #{$small-only} {
						text-align:center;
						padding: 20px 0;
					}
          &:nth-child(5n+1){
            .sermon-date{
              background: $color_orange;
            }
          }
          &:nth-child(5n+2){
            .sermon-date{
              background: $color_green;
            }
          }
          &:nth-child(5n+3){
            .sermon-date{
              background: $color_blue;
            }
          }
          &:nth-child(5n+4){
            .sermon-date{
              background: $color_yellow;
            }
          }
          &:nth-child(5n+5){
            .sermon-date{
              background: $color_red;
            }
          }
					.sermon-date {
  				  @include sansSerif(600, normal, rem-calc(18), $color_darkGray);
				
						margin: -20px 10px -20px 10px;
						font-size: rem-calc(18px);
						text-transform: inherit;	
						text-align: center;		
						z-index: -1;
						position: relative;
						padding: 25px 0;
    				span {
    					display:block;
              @include sansSerif(900, normal, rem-calc(35), $color_darkGray);
              margin: -20px 0 0;
    				}
					}
					
					.sermon-title {
  				  @include sansSerif(900, normal, rem-calc(25), $color_darkGray);
  				  text-transform: inherit;
						margin-left: -20px;
						margin-bottom: 0;
						letter-spacing: 3px;
						line-height: rem-calc(28);
					}
					
					.button {
  					right: 10px;
						margin-top: 20px;
            padding: 10px 50px;						
						@media #{$small-only} {
  						float: none;
						}
					}
				}
			}
		}
  }
}
#sermon-summary{
  h1{
    &.sermon-title {
	    @include sansSerif(900, normal, rem-calc(70), $color_darkGray);
      padding: 20px;
      border: 8px solid $color_darkGray;
      display: inline-block;
      letter-spacing: 2px;
      line-height: rem-calc(76);
      margin: 30px 0;
      text-transform: inherit;
    }        
  }
  h2{
    &.series-title{
      @include sansSerif(900, normal, rem-calc(32), $color_darkGray);
      text-transform: inherit;
      letter-spacing: 2px;
      margin: 20px 0;
    }
  }
  .sermon_meta{
    margin: 30px 0;
    text-transform: inherit;
    font-size: rem-calc(20);
  }
  .sermon-media{
    a:not(.button) {
      span{
        font-size: rem-calc(56);
      }
      @media #{$medium-up} {
        display: inline;
      }
      &:hover{
        text-decoration: none;          
      }
    }
  }
}
#related-messages{
  padding: 100px 0;
  margin-top: 50px;
  background: $color_orange;
  h1{
   @include sansSerif(900, normal, rem-calc(70), $color_darkGray);
   margin: 0 0 50px;
   text-transform: inherit;
   letter-spacing: 5px;
  }
  .sermons-list{
    position: relative;
    z-index: 0;
  }
  .individual-sermon {
    border: 8px solid $color_darkGray;
    margin-bottom: 30px;
    z-index: 1;
    @media #{$small-only} {
    	text-align:center;
    	padding: 20px 0;
    }
    .sermon-date {
      @include sansSerif(600, normal, rem-calc(18), $color_darkGray);
      background: $white;
    
    	margin: -20px 10px -20px 10px;
    	font-size: rem-calc(18px);
    	text-transform: inherit;	
    	text-align: center;		
    	z-index: -1;
    	position: relative;
    	padding: 25px 0;
    	span {
    		display:block;
        @include sansSerif(900, normal, rem-calc(35), $color_darkGray);
        margin: -20px 0 0;
    	}
    }
    
    .sermon-title {
      @include sansSerif(900, normal, rem-calc(25), $color_darkGray);
      text-transform: inherit;
    	margin-left: -20px;
    	margin-bottom: 0;
    	letter-spacing: 3px;
    	line-height: rem-calc(28);
    }
    .button {
			right: 10px;
			margin-top: 20px;
      padding: 10px 50px;						
			@media #{$small-only} {
				float: none;
			}
		}
  }
}