#staff_grid {
  padding: 50px;
  @media #{$small-only}{
    padding: 25px;
  }
  .member_box {
    margin-bottom: 1.875rem;
  }
  .portrait_box {
  	position: relative;
  	display: block;
    &:before{
    	content: "";
    	display: block;
    	padding-top: 125%; 	/* initial ratio of 3:4*/
    }
  }
  .staff_member {
    position: absolute;
    top: 0;
    left: 0;
  	bottom: 0;
  	right: 0;
    display: flex;
    flex-flow: row wrap;
      padding: 20px 40px;
    text-align: center;
    text-transform: inherit;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    &:hover{
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
    }

    @media #{$small-only}{
      padding: 15px;
    }
    .fullname {
      display: block;
      background: $white;
      @include sansSerif(900, normal, rem-calc(18), $color_darkGray);
      padding: 5px 20px;
        margin: 0 0 5px;
      &:hover {
        background-color: $color_yellow;
      }
    }
    .position {
      @include sansSerif(900, normal, rem-calc(15), $white);
      font-style: italic;
    }
  }
  .column-sizer {
    width: 33.33%;
  }

}
#bio_modals {
  display:none;
}
.modaal-fullscreen {
  .photo_box {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    img.circle {
      margin: -50px 0;
      width: 100%;
      height: auto;
    }
    .fullname {
      display: block;
      background: $color_yellow;
      @include sansSerif(900, normal, rem-calc(43), $color_darkGray);
      text-transform: inherit;
      padding:20px 40px;    
      margin: 0 0 10px;  
    }
    .position {
      display: inline-block;
      background: $color_yellow;
      @include sansSerif(900, normal, rem-calc(15), $color_darkGray);
      text-transform: inherit;
      padding:10px 20px;
      font-style: italic;
    }
  }
  .bio_box {
    margin-top: 120px;
    font-size: rem-calc(20);
    p {
      font-size: rem-calc(20);
    }
    .email {
      
    }
  }
}
