@charset "UTF-8";

@font-face {
  font-family: "kingsway-2016";
  src:url("fonts/kingsway-2016.eot");
  src:url("fonts/kingsway-2016.eot?#iefix") format("embedded-opentype"),
    url("fonts/kingsway-2016.woff") format("woff"),
    url("fonts/kingsway-2016.ttf") format("truetype"),
    url("fonts/kingsway-2016.svg#kingsway-2016") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "kingsway-2016" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "kingsway-2016" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pinterest:before {
  content: "\70";
}
.icon-x:before {
  content: "\78";
}
.icon-quote:before {
  content: "\71";
}
.icon-notes:before {
  content: "\6e";
}
.icon-audio:before {
  content: "\61";
}
.icon-bullet:before {
  content: "\62";
}
.icon-menu:before {
  content: "\63";
}
.icon-arrow-right:before {
  content: "\64";
}
.icon-video:before {
  content: "\76";
}
.icon-baby:before {
  content: "\68";
}
.icon-plus:before {
  content: "\6a";
}
.icon-arrow-left:before {
  content: "\6b";
}
.icon-cal-prev:before {
  content: "\6c";
}
.icon-cal-next:before {
  content: "\6f";
}
.icon-arrow-down:before {
  content: "\75";
}
.icon-360:before {
  content: "\65";
}
.icon-bethlehem-icons-03:before {
  content: "\79";
}
.icon-bethlehem-icons-05:before {
  content: "\7a";
}
.icon-share:before {
  content: "\67";
}
.icon-facebook:before {
  content: "\72";
}
.icon-instagram:before {
  content: "\74";
}
.icon-search:before {
  content: "\69";
}
.icon-twitter:before {
  content: "\6d";
}
.icon-rss:before {
  content: "\66";
}
.icon-give:before {
  content: "\73";
}
.icon-search-circle:before {
  content: "\77";
}
.icon-vimeo:before {
  content: "\41";
}
.icon-facebook-1:before {
  content: "\42";
}
.icon-twitter-1:before {
  content: "\43";
}
.icon-instagramlogo:before {
  content: "\44";
}
