/* INCLUDE ALL COLOR VARIABLES IN THIS FILE */
div.yellow {
  background: #ffd900; }

div.green {
  background: #b8d432; }

div.blue {
  background: #00a8b7; }

div.orange {
  background: #f39421; }

div.gray {
  background: #333b41; }

/*
	
	INLCUDE FONT STYLES FOR REFERENCE

TYPEKIT: Kingsway
Light	"calluna-sans-n3", "calluna-sans"	300	normal	
Light Italic	"calluna-sans-i3", "calluna-sans"	300	italic	
Regular	"calluna-sans-n4", "calluna-sans"	400	normal	
Italic	"calluna-sans-i4", "calluna-sans"	400	italic	
Semibold	"calluna-sans-n6", "calluna-sans"	600	normal	
Semibold Italic	"calluna-sans-i6", "calluna-sans"	600	italic	
Bold	"calluna-sans-n7", "calluna-sans"	700	normal	
Bold Italic	"calluna-sans-i7", "calluna-sans"	700	italic	
Black	"calluna-sans-n9", "calluna-sans"	900	normal	
Black Italic	"calluna-sans-i9", "calluna-sans"	900	italic
			
	COLORS
	
	INCLUDE COLORS FOR REFERENCE
*/
p, li {
  font-family: "calluna-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
  color: #334541; }

h1 {
  font-family: "calluna-sans", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 1.5625rem;
  color: #334541; }

h2 {
  font-family: "calluna-sans", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 4.375rem;
  color: #334541;
  text-transform: inherit;
  letter-spacing: 3px; }

h3 {
  font-family: "calluna-sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.875rem;
  color: #334541;
  text-transform: inherit; }

h4 {
  font-family: "calluna-sans", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 1.6875rem;
  color: #334541;
  text-transform: inherit;
  letter-spacing: 2px; }

h5 {
  font-family: "calluna-sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2.1875rem;
  color: #00a8b7; }

h6 {
  font-family: "calluna-sans", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 1.5625rem;
  color: white;
  background: #333b41;
  padding: 15px 30px;
  text-transform: inherit;
  letter-spacing: 3px;
  display: inline-block;
  margin-left: -30px; }

ul {
  list-style-type: none;
  padding-left: 0px; }
  ul li {
    line-height: 2.5rem; }
    ul li:before {
      content: 'b';
      font-family: "kingsway-2016";
      color: #f05846;
      font-size: .55em;
      padding-right: .25em;
      position: relative;
      top: .075em;
      margin-right: 5px; }

ol {
  padding-left: 20px;
  line-height: 2.5rem; }

blockquote {
  padding-left: 2.5rem;
  padding-right: 2.5rem; }

blockquote {
  font-family: "calluna-sans", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 3.125rem;
  color: #00a8b7;
  border-left: none;
  text-align: center; }
  blockquote p {
    font-family: "calluna-sans", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 3.125rem;
    color: #00a8b7;
    margin: 0 0 1rem;
    padding: 0.5625rem .5rem 0 1.1875rem;
    border-left: none;
    text-align: center;
    line-height: 1.1; }
  blockquote:before {
    content: "q";
    font-family: "kingsway-2016"; }
  blockquote:after {
    content: "q";
    font-family: "kingsway-2016";
    display: inline-block;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }

a.button {
  font-family: "calluna-sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.25rem;
  color: #334541; }

.button.light {
  background: white;
  font-family: "calluna-sans", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 0.8125rem;
  color: #333b41;
  text-transform: inherit;
  padding: 10px 20px; }

.button.dark {
  background: #333b41;
  font-family: "calluna-sans", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 0.8125rem;
  color: white;
  text-transform: inherit;
  padding: 10px 20px; }

img.fullwidth {
  width: 100%;
  height: auto;
  display: block; }

img.wcaption {
  display: static; }

img.bw {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

/* STYLES FOR EKKLESIA360 EDITOR */
.flex-video.widescreen.vimeo {
  display: block; }
