.button{
  position: relative;
  text-transform: uppercase;

  &.light{
    background: $white;
    @include sansSerif(900, normal, rem-calc(13), $color_darkGray);
    text-transform: uppercase;
    padding-right:26px;
    &:after{
      content: "";
      width: 0;
      height: 0;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-right: 0 solid $color_darkGray;
      border-left: 8px solid $color_darkGray;
      position: absolute;
      right: 10px;
      top: 33%;
      &:hover{
        border-left: 8px solid $color_offWhite;
      }
    }
  }
  &.dark{
    background: $color_darkGray;
    @include sansSerif(900, normal, rem-calc(13), $white);
    text-transform: uppercase;
    padding-right:26px;
    &:after{
      content: "";
      width: 0;
      height: 0;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-left: 8px solid $white;
      border-right: 0 solid $white;
      position: absolute;
      right: 10px;
      top: 33%;
      &:hover{
        border-left: 8px solid $color_offWhite;
      }
    }
    &.backbtn{
      text-transform: uppercase;
      padding-right:26px;
      &:before{
        content: "";
        width: 0;
        height: 0;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-right: 8px solid $white;
        border-left: 0px solid $white;
        position: absolute;
        left: 4%;
        top: 33%;
      }
      &:after{
        content: "";
        width: 0;
        height: 0;
        border-top: none;
        border-bottom: none;
        border-right: none;
        border-left: none;
        position: absolute;
        left: 7%;
        top: 33%;
      }
    }
  }
  &:hover{
    background: $color_red;
    color: $color_offWhite;
  }
  &.back {
    padding-left: 26px;
    padding-right: 20px;
    &:after {
      border-left-width: 0;
      border-right-width: 8px;
      right: auto;
      left: 7%;
    }
  }
  &.green{
    background: $color_green;
  }
}
.button + .button{
  margin-left: 10px;
  @media #{$small-only}{
    margin-left: 0;
  }
}