/* INCLUDE ALL COLOR VARIABLES IN THIS FILE */
$body-font-color: rgba(51,69,65,1.0);//#333b41

$white: rgba(255,255,255,1);
$color_offWhite: rgba(241,241,241,1.0);//#f1f1f1
$color_lightestGray: rgba(226,226,226,1.0);//#e2e2e2
$color_lightGray: rgba(160,174,181,1.0);//#a0aeb5
$color_darkGray: rgba(51,59,65,1.0);//#333b41
$color_yellow: rgba(255,217,0,1.0); //#ffd900
$color_green: rgba(184,212,50,1.0); //#b8d432
$color_teal: rgba(0,168,183,1.0); //#00a8b7
$color_blue: rgba(0,168,183,1.0); //#00a8b7
$color_orange: rgba(243,148,33,1.0); //#f68722
$color_red: rgba(240,88,70,1.0); //#f05846
$color_darkblue: rgba(43,56,63,1.0); //#2B383F

div.yellow{
  background:$color_yellow;
}
div.green{
  background: $color_green;
}
div.blue{
  background: $color_blue;
}
div.orange{
  background: $color_orange;
}
div.gray{
  background: $color_darkGray;
}
