/* USE FOR GENERAL SITE STYLES */

@import "typography";
@import "mixins";
body{
  background: rgba(255, 255, 255,1.0);
	transition: background-color 500ms 0s;
}
iframe, video, object {
  border: none;
}
a{
  position:relative;
  z-index: 1;
  border-bottom: 0px solid $color_yellow;
  color: $color_darkGray;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
p{
  a:not(.button){
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      border-bottom: 8px solid $color_lightestGray;
      z-index: -1;
    }
  }
}
.isDark{
  p{
    a:not(.button){
      color: $white;
      &:after {
        border-bottom: 8px solid $color_yellow;
      }
    }
  }
}
a:not(.button):hover{
  color: $color_darkGray;
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    border-bottom: 8px solid $color_yellow;
    z-index: -1; 
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
}

#Container{
    height: 100%;
}
header{
  position: relative;
}
#home header{
 z-index: 0;
}
#home .fh-toolbar{
  position: relative;
  padding: 20px 0;
  height: 85px;
  background: $white;
  z-index: 9999;
}
#home #fixed-toolbar{
  .fh-toolbar {
    padding: 15px 0 0;
    position: fixed;
    z-index: 9999;
    width: 100%;
    background: $white;
      height: 60px;

  }
  .toolbar-l{
    position: relative;
    height: 45px;
    .switcher{
      text-align: left;
    }
  }
  .toolbar-r{
    height: 45px;
  }

  #logo{
    position: relative;
    top: 15px;
    left: 30px;;
    float: left;
  }
  .fh-nav{
      position: relative;
      margin: 0px 0 0;
  }
}
.fh-top-a{
  position: relative;
  height: 100vh;
  background: $white;
  margin-top: -80px;
  @media #{$small-only}{
    height: 90vh;
  }
}
.fh-top-b{
  display: block;
}
.fh-top-c{
  display: block;
}
footer{
  
}
#footer-logo{
  margin-bottom: 50px;
  max-width: 25%;
}
.fh-footer-a{
  background: $color_darkGray;
  color: $white;
  padding: 100px 0;
  min-height: 600px;
  @media #{$small-only}{
    padding: 50px 0;
    min-height: 400px;

  }
  h4{
    @include sansSerif(900, normal, rem-calc(34), $white);
    text-transform: inherit;
    letter-spacing: 4px;
    @media #{$small-only}{
      @include sansSerif(900, normal, rem-calc(20), $white);
      letter-spacing: 2px;

    }
  }
  .contactinfo{
    @include sansSerif(600, normal, rem-calc(18), $white);
    a{
      color: $white;
    }
    @media #{$small-only}{
      @include sansSerif(600, normal, rem-calc(15), $white);
    }
  }
  .qlinks {
    margin-top:40px;

    a{
      @include sansSerif(900, normal, rem-calc(13), $color_lightGray);
      text-transform: inherit;
      letter-spacing: 2px;
    }
  }
} 
.fh-footer-b{
  background: $white;
  padding: 20px;
  @include sansSerif(600, normal, rem-calc(11), $color_darkGray);

}
#logo{
  @include centerer;
  top: 45%;
  max-width: 33%;
  @media #{$small-only}{
    max-width: 70%;
  }
}
.fh-nav{
  position: absolute;
  width: 100%;
  margin: 0;
  bottom: 0;
}
/* SOCIAL MEDIA */
.sm {
    position: relative;
    a{
      position: relative;
      i{
        font-size: rem-calc(30);
        margin: 0 4px;
        color: $color_darkGray;
        @include transition(color .3s ease);
        position: relative;
        @media #{$small-only}{
          font-size: rem-calc(24);
        }
      }
      &:hover:after {
        content: "";
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 15%;
        border-bottom: 12px solid #ffd900;
        z-index: -1;
      }
    }
}
.content-section{
  .sm{
     a{
      position: relative;
      i{
        font-size: rem-calc(60);
        margin: 0 4px;
        color: $color_darkGray;
        @include transition(color .3s ease);
        position: relative;
        @media #{$small-only}{
          font-size: rem-calc(24);
        }
      }
    }
  }
}
img.bw{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.nopadding{
  @media #{$small-only}{
    padding: 0;
  }
}
/* HOME */
#home{
  img.bw{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}
.slide{
//     	border-bottom: 2px solid rgba(100,100,100,1);
  p{
    font-size: rem-calc(20);
   }
  h2{
    text-transform: inherit;
    letter-spacing: 3px;
    margin-bottom: 30px;
    @media #{$small-only}{
      font-size: rem-calc(50);
      margin: 20px 0;
      line-height: rem-calc(50);
    }
  }
}
.home-why-kingsway-christian-school{
  background: $color_blue;
  padding: 100px 0;
  .circle{
    margin-left: -50px;
    @media #{$small-only}{
     border-radius: 100%;
     width: 95%;
     height: auto;
     margin: 10px;
    }
  }
}
.home-new-here{
  background: $color_yellow;
  padding: 100px 0;
  @media #{$small-only}{
    padding: 10px 0;
  }
  .circle{
    margin-left: -50px;
    @media #{$small-only}{
     border-radius: 100%;
     width: 95%;
     height: auto;
     margin: 10px;
    }
  }
}
.circle{
  @include circle(500px);
  @media #{$small-only}{
    border-radius: 100%;
    height: auto;
    width: 95%;
    margin: 10px;
  }
}
.home-search{
  min-height: 600px;
  padding: 350px 0;
  @media #{$small-only}{
    padding: 200px 0;
  }
  #searchForm {
		margin-top:40px;
		position: relative;
		@media #{$xlarge-up} {
			margin-right: 0;
		}
		fieldset{
			border:none;
			margin:0;
			padding:0;
		}
		#search_go {
			position: absolute;
			top:0;
			right:270px;
			font-size: 40px;
			color: $white;
			line-height: 4rem;
			&:hover:after{
  			content: "";
        position: absolute;
        width: 90%;
        left: 0;
        bottom: 40%;
        border-bottom: 8px solid #ffd900;
        z-index: -1;
			}
      @media #{$small-only}{
        right: 30px;
        top:-5px;
      }
		}
	}
  input{
    @include sansSerif(900, normal, rem-calc(15), $white);
    background: $color_darkGray;
    letter-spacing: 3px;
    text-transform: inherit;
    width: 50%;
    margin: 0 auto;
    padding: 1.75rem;
    @media #{$small-only}{
      width: 86%;
      padding: 1.25rem;
      letter-spacing: 2px;
 			font-size: rem-calc(13);

    }
    &:focus{
      background: $color_darkGray;
    }
    &::-webkit-input-placeholder {
   color: $white;
    }
    &:-moz-placeholder { /* Firefox 18- */
       color: $white;  
    }
    &::-moz-placeholder {  /* Firefox 19+ */
       color: $white;  
    }
    &:-ms-input-placeholder {  
       color: $white;  
    }
  }
}
.home-upcoming{

  #upcoming-grid{
    margin: 50px 0;
    @media #{$small-only}{
      margin: 30px 0;
    }
  }
  h2{
    color: $white;
  }
   .upimage{
    position: relative;
    z-index: 0;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    @include aspect-ratio(275,275);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 500ms 0s;

    &.feature{
      @include aspect-ratio(581,581);
    }
    @media #{$small-only}{
      &:first-child{
        float: noe;
        width: 100%;
        margin-bottom: 20px;
      }
      &.feature{
        width: 100%;
        margin-bottom: 16px;
      }
    }
    &:hover{
      -webkit-filter: grayscale(0%)!important;
      filter: grayscale(0%)!important;
    }
   .overlay{
     display: none;
     position: absolute;
     top: 0;
     left: 0;
     padding: 50px;
     width: 100%;
     height: 100%;
     text-align: left;
     background: rgba($color_blue, .8);
      -webkit-filter: grayscale(0%)!important;
      filter: grayscale(0%)!important;
      z-index: 9999;
      transition: all 500ms 0s;
      h5{
        color: $white;
        line-height: 1;
      }
   } 
   &:hover .overlay{
     display: block;
   }
   
  }
}
a.uplink{
  display: block;
  @media #{$small-only}{
    
  }
}
.uplink + .uplink{
  margin-top: 30px;
  
  @media #{$small-only}{
    margin-top: 0px;
    /*sfloat: right;
    width: 48%;
*/    
  }
}.home-sermon{

  h3{
    &.sermon_title{
      margin: 30px 0 10px;
      a{
        @include sansSerif(900, normal, rem-calc(32), $color_darkGray);
        text-transform: inherit;
        letter-spacing: 2px;
      }
    }
  }
  .sermon_meta{
    margin: 0 0 30px;
    text-transform: inherit;

  }
  
}
.home-blog{
  .blogimage{
    //margin-top: -200px;
    .circle{
      @include circle(400px);
      @media #{$small-only}{
       border-radius: 100%;
       width: 100%;
       height: auto;
       margin: 5px;
      }
    }
  }
  .blogpreview{
    p{
      @include sansSerif(400, normal, rem-calc(30), $color_darkGray);
      @media #{$small-only}{
        @include sansSerif(400, normal, rem-calc(22), $color_darkGray);
        line-height: rem-calc(32);
      }
    }
    
  }
  h3{
    &.blogtitle{
     @include sansSerif(900, normal, rem-calc(32), $color_darkGray);
      text-transform: inherit;
      letter-spacing: 2px;
    }
  }
  .post_info{
    margin: 30px 0 0 0;
    text-transform: inherit;
  }
}
//Section padding
.small{
    padding: 30px 0;
}
.medium{
    padding: 75px 0;
}
.large{
    padding: 150px 0;
    @media #{$small-only}{
      padding: 100px 0;
    }
}

//Change text colors based on background
body{
  &.isLight{
    h2,h3,p{
      color: $color_darkGray;
    }
  }
  &.isDark{
    h2,h3,p,a{
      color: $white;
    }
  }
}
.content-section{
  &.isDark .text{
    h2,h3,p{
      color: $white;
    }
  }
  &.isLight .text{
    h2,h3,p{
      color: $color_darkGray;
    }
  }
}