@import 'colors';

/*
	
	INLCUDE FONT STYLES FOR REFERENCE

TYPEKIT: Kingsway
Light	"calluna-sans-n3", "calluna-sans"	300	normal	
Light Italic	"calluna-sans-i3", "calluna-sans"	300	italic	
Regular	"calluna-sans-n4", "calluna-sans"	400	normal	
Italic	"calluna-sans-i4", "calluna-sans"	400	italic	
Semibold	"calluna-sans-n6", "calluna-sans"	600	normal	
Semibold Italic	"calluna-sans-i6", "calluna-sans"	600	italic	
Bold	"calluna-sans-n7", "calluna-sans"	700	normal	
Bold Italic	"calluna-sans-i7", "calluna-sans"	700	italic	
Black	"calluna-sans-n9", "calluna-sans"	900	normal	
Black Italic	"calluna-sans-i9", "calluna-sans"	900	italic
			
	COLORS
	
	INCLUDE COLORS FOR REFERENCE
*/

$condensed		:	"condensed";
$sansFont			:	"calluna-sans", sans-serif;

@mixin sansSerif($weight,$style,$size,$color) {
	font: {
		family: $sansFont;
		weight: $weight;
		style: $style;
		size: $size;
	}
	color: $color;
}

@mixin condensed($weight,$style,$size,$color) {
	font: {
		family: $condensed;
		weight: $weight;
		style: $style;
		size: $size;
	}
	color: $color;
}

p, li {
	@include sansSerif(400,normal,rem-calc(20px),$body-font-color);
}

h1 {
	@include sansSerif(900,normal, rem-calc(25px),$body-font-color);
}

h2 {
	@include sansSerif(900,normal, rem-calc(70),$body-font-color);	
	text-transform: inherit;
	letter-spacing: 3px;
}

h3 {
	@include sansSerif(600,normal, rem-calc(30px),$body-font-color);	
	text-transform: inherit;
}

h4 {
	@include sansSerif(900,normal, rem-calc(27px),$body-font-color);
  text-transform: inherit;
  letter-spacing: 2px;
}

h5 {
	@include sansSerif(600,normal,rem-calc(35px),$color_teal);
}

h6 {
	@include sansSerif(900,normal,rem-calc(25px),$white);
	background: $color_darkGray;
	padding: 15px 30px;
	text-transform: inherit;
	letter-spacing: 3px;
	display: inline-block;
	margin-left: -30px;
}
ul{
  list-style-type: none;
  padding-left: 0px;
  li{
    line-height: 2.5rem;
    &:before{
    content:'b';
    font-family: "kingsway-2016";
    color: $color_red;
    font-size:.55em; 
    padding-right:.25em; 
    position:relative;
    top:.075em; 
    margin-right: 5px;
    }
  }
}
ol{
   padding-left: 20px;
   line-height: 2.5rem;

}

blockquote {
	padding-left: rem-calc(40px);
	padding-right: rem-calc(40px);
}

blockquote{
  @include sansSerif(900,normal, rem-calc(50px),$color_teal);
  border-left: none;
  text-align: center;
  p{
  @include sansSerif(900,normal, rem-calc(50px),$color_teal);
  margin: 0 0 1rem;
  padding: 0.5625rem .5rem 0 1.1875rem;
  border-left: none;
  text-align: center;
  line-height: 1.1;
 }
  &:before{
    content:"q";
    font-family: "kingsway-2016";
  }
  &:after{
    content:"q";
    font-family: "kingsway-2016";
    display: inline-block;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
a.button {
	@include sansSerif(500,normal,rem-calc(20px),$body-font-color);
}
.button.light{
  background: $white;
  @include sansSerif(900, normal, rem-calc(13), $color_darkGray);
  text-transform: inherit;
  padding: 10px 20px;
}
.button.dark{
  background: $color_darkGray;
  @include sansSerif(900, normal, rem-calc(13), $white);
  text-transform: inherit;
  padding: 10px 20px;
}
img.fullwidth {
  width: 100%;
  height: auto;
  display: block; }
img.wcaption{
  display: static;    
}
img.bw{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}